@(gc: List[Gratitude_Card])(par: String)(show: List[String])
@import views.html.template._
@import controllers.SelectGC


@sdf= @{new java.text.SimpleDateFormat("YYYY/MM/dd")}

@range = @{Range(0, gc.size)}


<!-- gc ソート、絞り込み済み感謝カードリスト　par 権限 show　一覧表示項目(左から) -->
<!--　日付　ソート
　部署、送信者、カテゴリ　絞り込み-->


<div class= "ichiran_width">

	<form action="@routes.TestController.test2Post()" method="POST">
		<table class= "ichiran_index">
			<tr>

				@for(str <- show){
						@if(str == SelectGC.name.get("sender_department")){
							<th class="sender_department">@SelectGC.name.get("sender_department")</th>
						}else{@if(str == SelectGC.name.get("sender")){
							<th class="sender">@SelectGC.name.get("sender")</th>
						}else{@if(str == SelectGC.name.get("receiver_department")){
							<th class="receiver_department">@SelectGC.name.get("receiver_department")</th>
						}else{@if(str == SelectGC.name.get("receiver")){
							<th class="receiver">@SelectGC.name.get("receiver")</th>
						}else{@if(str == SelectGC.name.get("date")){
							<th class="date">@SelectGC.name.get("date")</th>
						}else{@if(str == SelectGC.name.get("title")){
							<th class="card_title">@SelectGC.name.get("title")</th>
						}else{@if(str== SelectGC.name.get("category")){
							<th class="category" ><select name="category" />
							<option >@SelectGC.name.get @lastReq.get("category")("category")</option>
								@for(cat <- Category.find.all()){
									<option  >@cat.category_name</option>
								}
							</select></th>
						}}}}}}}
					}
			<th><input type="submit" value="検索" /></th>
			</tr>
		</table>
	</form>
</div>
<div class="ichiran_contents ichiran_width">
	<table class= ichiran_table>
		@for(i <- range){

		<tr>
			@for(str <- show){
				@if(str == SelectGC.name.get("sender_department")){
					<td class="sender_department">@gc.get(i).sender_id.depatrment_id.department_name</td>
				}else{@if(str == SelectGC.name.get("sender")){
					<td class="sender">@gc.get(i).sender_id.name</td>
				}else{@if(str == SelectGC.name.get("receiver_department")){
					<td class="receiver_department">@gc.get(i).receiver_id.depatrment_id.department_name</td>
				}else{@if(str == SelectGC.name.get("receiver")){
					<td class="receiver">@gc.get(i).receiver_id.name</td>
				}else{@if(str == SelectGC.name.get("date")){
					<td class="date">@sdf.format(gc.get(i).date)</td>
				}else{@if(str == SelectGC.name.get("title")){
					<td class="card_title">@gc.get(i).card_title</td>
				}else{@if(str== SelectGC.name.get("category")){
					<td class="category">@gc.get(i).category_id.category_name</td>
				}}}}}}}
			}
		</tr>
		}
	</table>

</div>
<br>

@sdf.format(new java.util.Date())

