@(gc: List[Gratitude_Card])(par: String)(show: List[String])
@import views.html.template._

@sdf= @{new java.text.SimpleDateFormat("YYYY/MM/dd")}
@range = @{Range(0, gc.size)}


<!-- gc ソート、絞り込み済み感謝カードリスト　par 権限 show　一覧表示項目(左から) -->
<!--　日付　ソート
　部署、送信者、カテゴリ　絞り込み-->

<div class= "ichiran_width">

	<form action="@routes.TestController.test2Post()" method="POST">
		<table class= "ichiran_index">
			<tr>

				@for(str <- show){
						@if(str == "送信部署"){
							<th class="sender_department">送信部署</th>
						}else{@if(str == "送信者"){
							<th class="sender">送信者</th>
						}else{@if(str == "受信部署"){
							<th class="receiver_department">受信部署</th>
						}else{@if(str == "受信者"){
							<th class="receiver">受信者</th>
						}else{@if(str == "日付"){
							<th class="date">日付</th>
						}else{@if(str == "タイトル"){
							<th class="card_title">タイトル</th>
						}else{@if(str=="カテゴリ"){
							<th class="category"><select name="category" />
							<option>カテゴリ</option>
								@for(cat <- Category.find.all()){
									<option>@cat.category_name</option>
								}
							</select></th>
						}}}}}}}
					}
			<th><input type="submit" value="検索" /></th>
			</tr>
		</table>
	</form>
</div>
<div class="ichiran_contents ichiran_width">
	<table class= ichiran_table>
		@for(i <- range){

		<tr>
			@for(str <- show){
				@if(str == "送信部署"){
					<td class="sender_department">@gc.get(i).sender_id.depatrment_id.department_name</td>
				}else{@if(str == "送信者"){
					<td class="sender">@gc.get(i).sender_id.name</td>
				}else{@if(str == "受信部署"){
					<td class="receiver_department">@gc.get(i).receiver_id.depatrment_id.department_name</td>
				}else{@if(str == "受信者"){
					<td class="receiver">@gc.get(i).receiver_id.name</td>
				}else{@if(str == "日付"){
					<td class="date">@sdf.format(gc.get(i).date)</td>
				}else{@if(str == "タイトル"){
					<td class="card_title">@gc.get(i).card_title</td>
				}else{@if(str=="カテゴリ"){
					<td class="category">@gc.get(i).category_id.category_name</td>
				}}}}}}}
			}
		</tr>
		}
	</table>

</div>
<br>

@sdf.format(891890121112L)

