th.sender_department{
	margin: 0 auto;

}
th.sender{
	margin: 0 auto;
}
th.receiver_department{
	margin: 0 auto;
}
th.receiver{
	margin: 0 auto;
}
th.date{
	margin: 0 auto;
}
th.card_title{
	text-align: center;
}
th.category{
	margin: 0 auto;
}
.sender_department{
	width:120px;

}
.sender{
	width:100px;
}
.receiver_department{
	width:120px;

}
.receiver{
	width:100px;

}
.date{
	width:120px;

}
.card_title{
	width:400px;

}
.category{
	width:80px;

}
.ichiran_width{
	width: 80%;
	margin: 0 auto;
}
table.ichiran_index{


}
.ichiran_table{

}
.ichiran_value{
	text-align: left;
}
.ichiran_contents{
	height:300px; background-color:#eeeeee; overflow:scroll;
	margin: 0 auto;
}

table, td, th {
border: 2px #ff0000 solid;
}
