
nav {
    float : left;
    text-align : center;
    width : 150px;
    height : 700px;
    background-color : #f99ff4;

}
section {
    text-align : center;
    float : right;
    background-color : #66FF99;
    width : 80%;
    height :700px;
}